.statistics {
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 100%;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: #636060 1px 1px 3px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.statlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.statitem {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.label {
  font-size: 0.9em;
  font-weight: 400;
  color: #ccc;
  margin-bottom: 8px;
}
.percentage {
  font-size: 1.3em;
  font-weight: 700;
  color: #eee;
  margin-bottom: 5px;
}
